/* App.css */

/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3f3f3;
  }
  
  /* Header Styles */
  .header {
    /*background-color: #ffd726;*/
    background-image: linear-gradient(to right, orange , yellow);
    color: white;
    padding: 10px 20px;
  }
  
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    width: 40px;
  }
  .search-bar {
    display: flex;
    align-items: center;
    max-width: 620px; /* Adjust as needed */
    width: 170%;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #edba11; /* Light gray border */
  }
  
  .search-input {
    flex-grow: 1;
    height: 100%;
    padding: 0 10px; /* Padding for text */
    border: none;
    font-size: 16px; /* Font size */
  }
  
  .search-button {
    width: 45px; /* Width of the button */
    height: 100%;
    background-color: #fef668; /* Amazon yellow */
    border: none;
    cursor: pointer;
  }
  
  .search-button:hover {
    background-color: #fae97c; /* Darker yellow on hover */
  }
  
  .search-button svg {
    color: #000; /* Icon color */
  }
  

  .nav-links {
    display: flex;
    list-style-type: none;
  }
  
  .nav-links li {
    margin-left: 20px;
  }
  
  /* Main Content Styles */
  .main-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
  }
  
  .product-card {
    background-color: white;
    padding: 30px;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }
  
  /* Footer Styles */
  .footer {
    background-color: #232f3e;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
  }